<div class="mapDiv" lat='<%= @center[0]%>' lng='<%= @center[1]%>'>

  <div id="map_canvas" style="width:100%; height:100%;" class="left"></div>
  <div id="userOptions">
    <% if current_user and current_user.image %>
        <%= image_tag current_user.image %>
    <% end %>
  </div>

  <div id="street_view" class="right onTop"></div>
  <div id="movie_info" style="width:100%; height:100%;" class="right onTop"></div>
  <div id="close"><img src = "https://www.gowallet.com/content/images/iconClose2x.png"></div>

</div>