
      <div class="contentcolumn">
        <h1>Privacy</h1>

        <p>We respect your privacy! Any and all information collected at this site will be kept strictly confidential and will not be sold, reused, rented, loaned, or otherwise disclosed. Any information you give to ProjectLounge.com, Inc. will be held with the utmost care, and will not be used in ways that you have not consented to. A more detailed explanation about how we safeguard your personal information is described below. If you have any questions, please don't hesitate to email us at the <a href="mailto:team@travelhacks.com">team@travelhackz.com</a></p>

        <h2>Resale or disclosure of information to third parties:</h2>

        <p>ProjectLounge.com, Inc. does not sell, rent, loan, trade, or lease any personal information collected at our site, including membership forms or email lists.</p>

        <h2>Browser information collected on the website:</h2>

        <p>ProjectLounge.com, Inc. analyzes our website logs to constantly improve the value of the materials available on our website. Our website logs are not personally identifiable, and we make no attempt to link them with the individuals that browse the site. Where you have authenticated, we only analyze the logs for server performance monitoring.</p>

        <h2>Use of cookies:</h2>

        <p>We do not use cookies on this site for tracking and we do not prevent members from including cookies in their online collaboration portal. Cookies are only used for Offline and Authentication.</p>

        <h2>Privacy of our email lists:</h2>

        <p>ProjectLounge.com, Inc. maintains several email lists to keep ProjectLounge.com members informed. We do not sell, rent, loan, trade, or lease the addresses on our list to anyone. In addition, we configure our list server software to refuse to divulge the email addresses of our list subscribers to anyone but authorized ProjectLounge.com staff, including other list subscribers.</p>
      </div>

    </div>