<style>
body { 
  background: url(<%= asset_path("govhack2013.png")%>) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.roundedCornersDiv
{
  width: 280px;
  height: 478px;
  padding: 0;
  background-color: white;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  margin-left: 100px;
  margin-top: 50px;
}

</style>
<div class="roundedCornersDiv">
<h1>TravelHackz</h1>
<h2>Journey your reward</h2>
<h3>#GovHack</h3>
<br/><br/>
<p>Sign in for a demo with <%= link_to "facebook", "/auth/facebook", :class=>"fb-signup"%></p>
<br/><br/>
<p><a href="/site/index" target=_blank>continue without signup...</a></p>
<br/><br/>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=513508738659534";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://facebook.com/travelhackz" data-send="true" data-width="450" data-show-faces="true"></div>


</div>

</div>